<!DOCTYPE html>
<html>

<head>
    <title>Spam E-Mail Checker</title>
    <link rel= "stylesheet" href= "{{ url_for('static',filename='css/style.css') }}">
</head>

<body>
    <h1>Spam E-Mail Checker</h1>
    <p class="intro-myself">Developed by <a href="https://github.com/robuno">@robuno</a>. A few more classifier models will be added soon. Do not hesitate to contact with me for any questions. </p>
    <div>
        <form method="POST" action="/predict">
            <textarea rows="20" cols="60" name="email-content" placeholder="Enter your email here:">{{ email }}</textarea>
            <div>
                <button class="check-button">Check</button>
                <button class="clear-button" disabled><a href="\">Clear Textbox</a></button>
            </div>
        </form>
        
        <div class="pred-result">
            <p>Prediction:</p>
            {% if prediction %}
            {% if prediction == 1 %}
            <div class="pred-result-spam">
                <h3>Spam</h3>
            </div>
            {% else %}
            <div class="pred-result-not-spam">
                <h3>Not Spam</h3>
            </div>
            {% endif %}
            {% endif %}
        </div>

        <p id="display">Your Text: {{ email }}</p>
    </div>
</body>

</html>